//字色
$white: #f00;
$light-gray: #eee;
$gray: #ccc;
$dark-gray: #999;
$light-black: #555;
$dark-black: #111;

//主色系與輔助色
$main-color:#1d8e77;
$sub-color: #ac1a2f;//紅
$dark-sub-color: #7F1322;//暗紅

//物件色系
$btn-submit:#ac1a2f;//紅
$btn-submit-hover:#971527;//深紅

