//全域樣式，設定全站樣式統一的地方
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
//.clearfix { display: inline-block;}
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}
//全域樣式
body{ @include fontSty; font-size:100%; color:#111;}
input,textarea,select { @include fontSty; color:#111; outline: none;}

