/*(@) Powered By Truesun */
@import "reset";//全站a ul li h1-h6 img 等基本設定
@import "color";//字色 主色系與輔助色 物件色系
@import "mixins";//浮動 btn 圓角 ht ct 等設定
@import "typegraphy";//可寫入web font的地方
@import "global";//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import "layout";//寫在這邊的都是基本的版面構成，不應該常被更改

// ::-webkit-scrollbar {
// 	overflow-y: scroll;
// 	//-webkit-overflow-scrolling: auto;
// 	-webkit-overflow-scrolling: touch;
//     -webkit-appearance: none;
//     width: 10px;
// }
// ::-webkit-scrollbar-track {
//     background-color: rgba(57,57,57, .6);
//     border-radius: 8px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     background-color: rgba(0,0,0,.5);
//     box-shadow: 0 0 1px rgba(255,255,255,.5);
// }
html{ overflow-x: hidden;}
.loading{ background-color: #000; z-index: 9999; position: fixed; top: 0; left: 0; margin: auto; width: 100vw; height: 100vh; perspective: 200px;
	img{ width: 100px; position: absolute; display: inline-block; top: 0; left: 0; bottom: 0; right: 2px; margin: auto; animation: rotation 1s linear infinite; }
	span{width: 100%; position: absolute; text-align: center; top: calc(50% + 50px); /*transform: scale(0.75);*/ color: white; font-size: 8px; letter-spacing: 5px; animation: twinkle 0.8s infinite}
}
.o-grid__item{ display:none;}
@keyframes twinkle{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotation{
    0%{
        transform: rotateY(0deg)
    }
    50%{
        transform: rotateY(180deg)
    }
    100%{
        transform: rotateY(360deg)
    }
}
.nav-box{position: fixed; top:0; right:0; z-index: 99;}
.nav-group{ overflow:hidden;}
.logo{ width:220px; position: absolute; top: 150px; left: 20px; opacity:0;
	img{ width:100%;}
}
.m-logo{ display: none;}
.nav{ position: fixed; top:8%; right:-200px;
	li{ }
	a{ display:block;}
	a.act{ background:#009fe8; }
}
.link-sty{ padding:10px 0; }
.link-group{ width: 80px; height: 80px; border-radius:100px; position: relative; left:-45px; box-shadow: -10px 5px 30px rgba(0,0,0,0.2); transition:.3s;}
.link-circle{ color:#555; text-align: center; font-size:18px; font-weight: 600; line-height: 1; width: 80px; height: 72px; padding:8px 0 0; background: #eee; border-radius:100px; overflow:hidden; box-shadow: -2px 2px 10px rgba(0,0,0,0.2);}
.icon-img{ width: 30px; height: 23px; background-repeat:no-repeat; background-size: cover;  margin:0 auto 3px;}

.btn-ind{ background-color: #ff7aac; border-radius:8px 0 0 0; 
	.link-group{ border:8px solid #ff7aac;}
	.icon-img{background-image:url(/img/icon_home.png);}
	&:hover .link-group{ border:8px solid darken(#ff7aac,10%);}
	&:hover{ background-color: darken(#ff7aac,10%);}
	&:hover .icon-img{background-image:url(/img/icon_home_on.png);}
}

.btn-rule{ background-color: #eec15d;
	.link-group{ border:8px solid #eec15d;}
	.icon-img{background-image:url(/img/icon_plain.png);}
	&:hover .link-group{ border:8px solid darken(#eec15d,10%);}
	&:hover{ background-color: darken(#eec15d,10%);}
	&:hover .icon-img{background-image:url(/img/icon_plain_on.png);}
}
.btn-qa{ background-color: #76be52; transition:.3s;
	.link-group{ border:8px solid #76be52;}
	.icon-img{background-image:url(/img/icon_mesg.png);}
	&:hover .link-group{ border:8px solid darken(#76be52,10%);}
	&:hover{ background-color: darken(#76be52,10%);}
	&:hover .icon-img{background-image:url(/img/icon_mesg_on.png);}
}
.btn-hot{ background-color: #9162a7; transition:.3s;
	.link-group{ border:8px solid #9162a7;}
	.icon-img{background-image:url(/img/icon_search.png);}
	&:hover .link-group{ border:8px solid darken(#9162a7,10%);}
	&:hover{ background-color: darken(#9162a7,10%);}
	&:hover .icon-img{background-image:url(/img/icon_search_on.png);}
}
.btn-topic{ background-color: #ec652d; transition:.3s;
	.link-group{ border:8px solid #ec652d;}
	.icon-img{background-image:url(/img/icon_light.png);}
	&:hover .link-group{ border:8px solid darken(#ec652d,10%);}
	&:hover{ background-color: darken(#ec652d,10%);}
	&:hover .icon-img{background-image:url(/img/icon_light_on.png);}
}
.btn-winner{ background-color: #00a2c9; transition:.3s;
	.link-group{ border:8px solid #00a2c9;}
	.icon-img{background-image:url(/img/icon_gift.png);}
	&:hover .link-group{ border:8px solid darken(#00a2c9,10%);}
	&:hover{ background-color: darken(#00a2c9,10%);}
	&:hover .icon-img{background-image:url(/img/icon_gift_on.png);}
}
.btn-food{ background-color: #1b9e73; transition:.3s; border-radius:0 0 0 8px; 
	.link-group{ border:8px solid #1b9e73;}
	.icon-img{background-image:url(/img/icon_food.png);}
	&:hover .link-group{ border:8px solid darken(#1b9e73,10%);}
	&:hover{ background-color: darken(#1b9e73,10%);}
	&:hover .icon-img{background-image:url(/img/icon_food_on.png);}
}
.wrap{ background:#fff; overflow:hidden;}
.social-box{ position: absolute; top:20px; right:10%; z-index: 5;
	a{ width: 62px; height: 60px; border-radius: 100px; margin:0 8px; box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3); @include dvt; position: relative; top:0; transition:.3s;
		&:hover{ position: relative; top:-5px;}
	}
	img{ width:100%;}
}
.main-ad{ width:100%; height: 965px; background: url(/img/main_ad.jpg) no-repeat center bottom; position: relative; overflow: hidden;}
.ani-plain{ width: 267px; position: absolute; bottom: 450px; left: -40%; z-index: 2;
	img{ width:100%;}
}
.ani-plain-shadow{ width: 50px; position: absolute; bottom:45px; left:-38%; z-index: 1;
	img{ width: 100%;}
}

.slogan-box{ width:660px; padding: 120px 0 0; margin:0 auto; position: relative; top:-400px; opacity:0; z-index: 3; display: block;
	img{ width:100%;}
}

//首頁共用
.tit-group{ text-align: center; margin:0 auto;
	h2{ color: #fff; font-size:160%; font-weight: 600; border-radius:0 0 10px 10px; padding:5px 20px 13px 12px; margin: 0 20px; background: #eec15d; @include dvt;}
	span{ line-height: 1; @include dv;}
	img{ width:36px; @include dv;}
}
.tit-circle{width: 30px; height: 30px; background: #c9c9c9; border-radius: 100px; margin:15px 20px 0; @include dvt;}

//首頁參加辦法
.rule-box{ position: relative; overflow: hidden;
	.tit-circle.act{ background: #eec15d;}
}
.rule-editor{ color:#555; font-size:120%; font-weight: 600; text-align: center; width:1000px; line-height:2; padding:55px 0; margin:0 auto;}
.img-1{ width:300px; position: absolute; bottom:0; left:-500px; z-index: 1;
	img{ width:100%;}
}
.img-top{ width: 929px; height: 83px; margin:0 auto;}

//首頁有獎徵答
.qa-box{ background: #d9d9d9; padding:0 0 40px; position: relative; overflow: hidden;
	.tit-circle{ background: #fff;}
	.tit-circle.act{ background: #76be52;}
	h2{ background: #76be52;}
	p{ color:#555; font-size:110%; font-weight: 600; text-align: center; width:1000px; line-height:2; padding:55px 0; margin:0 auto;}
}
.img-4{ width:300px; position: absolute; bottom:0; right:-500px; z-index: 1;
	img{ width:100%;}
}
.qa-note{ width:900px; padding:30px 40px; margin:40px auto; background:#fff; box-sizing:border-box; overflow:hidden;
	h3{ color:#76be52; font-size:160%; font-weight: 600;}
	p{ text-align: left; color:#777; line-height: 1.4; width:auto; padding:0; margin:0 0 10px;}
}
.qa-left{ width:70%; float:left;}
.qa-right{ text-align: center; width:30%; float:right;}
.btn-to-answer{ border-radius:260px; box-shadow: -10px 15px 30px rgba(0,0,0,0.2);  border:14px solid #76be52; display: inline-block;}
.qa-group{ width: 160px; height: 160px; background: #eee; border-radius:260px; box-shadow: -10px 5px 30px rgba(0,0,0,0.2); transition:.3s;}
.qa-circle{ color:#555; text-align: center; font-size:160%; font-weight: 600; line-height: 1; width: 160px; height: 160px; line-height: 160px; background: #eee; border-radius:260px; overflow:hidden; box-shadow: -2px 2px 10px rgba(0,0,0,0.2);}

.lg-mesg{ width:280px; background: #76be52; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.5); margin:0 0 0 -140px; position: fixed; top:20%; left:50%; z-index: 101; overflow: hidden;}
.lg-tit{ color:#fff; font-size: 125%; font-weight: 600; background:#76be52; border-bottom:3px solid #5c973f; padding:10px;}
.qa-lg-cont{ text-align: center; font-size: 120%; background: #fff; padding:30px; border-bottom:1px solid #ccc;}
.lg-btn-box{ text-align: center; padding:10px; background: #f7f7f7;}
.btn-ok{ color:#fff; font-size: 100%; background:#76be52; border-radius: 8px; padding:8px 20px; @include dv; cursor:pointer; transition:.3s;
	&:hover{ background: darken(#76be52,10%);}
}


//首頁大使誰摘冠
.character-box{ padding:0 0 40px; position: relative; overflow: hidden;
	.tit-group{ margin:0 auto 40px;}
	.tit-circle.act{ background: #9162a7;}
	h2{ background: #9162a7; margin: 0 20px; padding: 2px 20px 6px 12px;
		img{ width:65px; margin: 0 -18px 0 -15px;}
	}
}
.img-2{ width:280px; position: absolute; bottom:0; left:-500px; z-index: 1;
	img{ width:100%;}
}
.character-group{ text-align: center; width:780px; margin:0 auto 60px;
	.slick-prev, .slick-next{ width:50px; height:50px;}
	.slick-prev {left: -45px; }
	.slick-next {right: -45px; }
}
.character{ text-align: center; font-size:120%; color:#555; width:216px; margin:0 auto;}
.character-img{ width:200px; height:200px; border:8px solid #dcdcdd; margin:0 0 5px;
	img{ width:100%; padding: 10px; margin:0 auto; border:10px solid #9162a7; box-sizing:border-box;}
}
.char-name{ background: #b6afd6; padding:5px 0;}

//首頁得獎名單
.winner-box{ background: #d9d9d9; padding:0 0 40px; position: relative; overflow: hidden;
	.tit-group{ margin:0 auto 40px;}
	.tit-circle.act{ background: #00a2c9;}
	h2{ background: #00a2c9; margin: 0 30px; }

}
.img-3{ width:260px; position: absolute; bottom:0; right:-500px; z-index: 1;
	img{ width:100%;}
}
.winner-list{ color:#555; font-size:120%; font-weight: 600; text-align: center; width:900px; background: #fff; line-height:1.6; padding:60px 0; margin:60px auto;}
.ind-win{ width: 820px; padding:60px;
	img{ width:100% !important; height:auto !important; margin:0 0 10px;}
	table{ margin:0 0 10px;}
	td{ text-align: left; padding:5px;}
}

//內頁共用
.page-ad{ width:100%; height: 695px; background: url(/img/page_ad.jpg) no-repeat center bottom; position: relative; overflow: hidden;}

.p-ani-plain{ width: 267px; height: 170px; position: absolute; bottom: 450px; left: -40%; z-index: 2;
	img{ width:100%;}
}
.p-ani-plain-shadow{ width: 50px; height: 55px; position: absolute; bottom:45px; left:-38%; z-index: 1;
	img{ width: 100%;}
}
.page-slogan-box{ width:425px; padding: 40px 0 0; margin:0 auto; position: relative; top:-500px; opacity:0; z-index: 4; display: block;
	img{ width:100%;}
}
.page-logo{ width:180px; position: absolute; top: 20px; left: 20px;
	img{ width:100%;}
}
.page-wrap{ width:980px; margin:0 auto;}
.page-bot{ width:100%; position: relative;
	img{ float:right;}
}

//飛安主題
.topic-box{ margin:0 auto 50px;
	h2{ background: #ec652d; padding: 5px 20px 14px 14px;
		img{ width: 39px; margin:0 -10px;}
	}
	.tit-circle.act{ background: #ec652d;}
}
.topic-cont{ width:100%; padding:0 0 40px; margin:0 auto 50px; border-bottom:1px solid #555; }
.topic-cont-last{ border:none;}
.topic-txt{ width:76%; @include dvt;
	h3{ font-size:125%; font-weight: 600; color:#ec652d; padding:7px 15px; background:#dcdcdd;}
}
.topic-in{ font-size:100%; color:#555; line-height: 1.6; padding:10px 40px 10px 10px;
	p{ padding:0 0 0 30px;}
	span{ padding:0 0 0 20px; display: inline-block;}
}
.topic-img{ width:22%; padding: 10px 0 0; @include dvt;
	img{ width:66%; margin:0 auto;}
}
.img-fly{ width: 247px; position: absolute; bottom:0; left:0; z-index: 1;
	img{ width:100%;}
}
.img-fly-r{ width:300px; position: absolute; top:-828px; right:0; z-index: 1;
	img{ width:100%;}
}

//飛安大使們
.character-page{ padding:0 0 40px; position: relative;
	.tit-group{ margin:0 auto 40px;}
	.tit-circle.act{ background: #9162a7;}
	h2{ background: #9162a7; padding: 5px 20px 10px 17px; margin: 0 20px;
		img{ width:60px; margin: 0 -18px 0 -16px;}
	}
}
.sub-tit{ margin:0 0 50px; position: relative;
	h3{ color:#fff; font-size:140%; font-weight: 600; background: #9162a7; border-radius:20px; padding:10px 10px 10px 75px; margin:0 0 0 30px;}
}
.reciprocal{ float:right; line-height: 1;
	span{ @include dv;}
}
.countdown{  @include dv;}
.sub-tit-icon{ width: 70px; height: 70px; background: #eee; border:10px solid #9162a7; border-radius: 120px; box-shadow: -10px 13px 30px rgba(0, 0, 0, 0.2); position: absolute; left:0; top: -23px;;}
.sub-icon-circle{ text-align: center; width: 70px; height: 70px; background: #eee; border-radius: 120px; box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2); overflow:hidden;
	img{ width: 67%; margin: 11px 0 0; display: inline-block;}
}
.character-list{ width:100%; margin: 0 auto 80px;
	li{ height: 340px; border-bottom:1px solid #666;}
	li:nth-of-type(1) .votes-bar{background: #fff000; }
	li:nth-of-type(2) .votes-bar{background: #8ec31e; }
	li:nth-of-type(3) .votes-bar{background: #83cbcc; }
	li:nth-of-type(4) .votes-bar{background: #bc91c0; }
	li:nth-of-type(5) .votes-bar{background: #e8579a; }
	li:last-child .votes-bar{background: #ea5950; }
	li:last-child{ border:none;}
	.character{ font-size: 120%; font-weight: 600; padding:20px; width: 20%; @include dv;}
	.char-name{ font-size: 120%; font-weight: 600;}
}
.p-character-img{ width:100%; height:auto; border-radius:200px; border:5px solid #dcdcdd; margin:0 0 5px; box-sizing:border-box;}
.p-character-img_{ width:100%; height:auto; border-radius:200px; border:10px solid #9162a7; overflow: hidden; box-sizing: border-box;
	img{ width:100%; margin:0 auto;}
}
.company{ margin:0 0 5px;}
.job-tit{ margin:0 0 5px;}
.votes-total{width:70%; height: 100%; border-left:1px solid #666; @include dv;
	&:after{ content: ''; width:0; height:100%; @include dv;}
}
.votes-bar{ font-size:180%; color:#111; text-align: right; height: 58px; line-height: 58px; position: relative; box-sizing: border-box; box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2); @include dv;}
.vote-num{ text-align: right; width: 100%; min-width: 80px; height: 58px; line-height: 58px; padding:0 10px 0 0; position: absolute; top: 0; left: 0; box-sizing: border-box;}

.bar-y{ background: #fff000;}
.bar-g{ background: #8ec31e;}
.bar-b{ background: #83cbcc;}
.bar-pur{ background: #bc91c0;}
.bar-p{ background: #e8579a;}
.bar-o{ background: #ea5950;}


//得獎名單
.p-winner-box{ padding:0 0 40px; position: relative;
	.tit-circle.act{ background: #00a2c9;}
	h2{ background: #00a2c9; margin: 0 30px; }
}
.p-winner-list{ padding:20px; margin: 0 auto 80px;
	img{ width:100% !important; height:auto !important; margin:0 0 10px;}
	table{ margin:0 0 10px;}
	td{ text-align: left; padding:5px;}
}


//有獎徵答
.p-qa-box{ margin:0 0 50px;
	h2{ background: #76be52; margin:0 20px 0 0; vertical-align: middle;}
}
.qa-pagination{ @include dv;
	li{ color:#111; font-size: 120%; font-weight: 600; text-align: center; width:30px; height:30px; line-height: 30px; margin:0 15px; border-radius:40px; @include dv;}
	li.act{ color:#fff; background:#76be52; }
}
.qa-sub-tit{
	h3{ background:#76be52;}
	.sub-tit-icon{ border: 13px solid #76be52;}
}
.question-video{ background:#76be52; padding:25px; border-radius:30px; margin:0 0 50px; position: relative;
	iframe{ width:100%; height:500px;}
}
.click-area{ width:100%; height:100%; position: absolute; top:0; left:0; z-index: 1; cursor: pointer;}
.arrow{ width:0; height:0; border:18px solid transparent; border-top:26px solid #76be52; margin:0 0 0 -18px; position: absolute; bottom:-44px; left:50%;}
.answer-box{ text-align: center; width:800px; margin:0 auto 50px;}
.answer-btn{ width: 120px; height: 120px; background: #eee; margin:0 60px; border-radius: 120px; box-shadow:-10px 13px 50px rgba(0, 0, 0, 0.3); @include dv; cursor:pointer; transition:.3s;}
.answer-txt{ text-align: center; font-size:160%; font-weight: 600; width: 120px; height: 120px; line-height: 120px; background: #eee; border-radius: 120px; box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4); overflow:hidden;
	img{ width: 67%; margin: 16px 0 0; display: inline-block;}
}
.yes{ border:15px solid #76be52;
	&:hover{  border:15px solid darken(#76be52,10%);}
}
.no{ border:15px solid #ec652d;
	&:hover{  border:15px solid darken(#ec652d,10%);}
}

.answer-why{ color:#fff; font-size:150%; font-weight: 500; background:#76be52; padding:35px 35px 35px 95px; border-radius:20px; margin:0 0 50px 50px; position: relative;
	.sub-tit-icon{ border: 13px solid #76be52; left:-50px;}
}
.img-qa-r{ width:300px; position: absolute; bottom:80px; right:0; z-index: 1;
	img{ width:100%;}
}
.btn-next{ color:#fff; font-size: 100%; text-align: center; width: 120px; background:#eb652d; border-radius: 8px; border:none; margin: 40px auto 0; padding:8px 20px; cursor:pointer; display: block; z-index: 1; transition:.3s;
	&:hover{ background: darken(#eb652d,10%);}
}
.btn-link{ color:#fff; font-size: 100%; background:#eec15d; border-radius: 8px; border:none; margin: 15px auto; padding:3px 20px; margin:20px 0 0; cursor:pointer; display: inline-block; z-index: 1; transition:.3s;
	&:hover{ background: darken(#eec15d,10%);}
}

//問答第七題
.qa-character{ text-align: center; margin:0 auto 10px;
	li{ width:27%; height: auto; @include dvt;
		.character{ width:100%; padding: 0; margin:0 0 10px;}
	}
	li:nth-of-type(4){ border:none;}
	li:nth-of-type(5){ border:none;}
	li:last-child{ border:none;}
	label{ display: block; padding:20px; transition:.3s; cursor: pointer;
		&:hover{background:#eee;}
	}
}
label.error{ text-align: center; color:#fff; font-size:140%; padding:20px 0; margin:0 0 40px; background: #e14848; display: block; position: relative; top:-30px;}

.radio-box{ position: relative;
	input{ width:10px; height:10px; position: absolute; z-index: -1; opacity:0; outline: none;}
	input:checked + .radio-ui:after{ display: block;}
}
.radio-ui{ width:24px; height:24px; border:4px solid #ddd; border-radius: 50px; margin:0 auto; position: relative;
	&:before{ content:''; width:20px; height:20px; background: #fff; border:2px solid #999;  border-radius: 50px; display: block;}
	&:after{ content:''; width:16px; height:16px; background:#ec652d; border-radius: 50px; display: none; position: absolute; top:4px; left:4px; z-index: 1; }
}
.btn-submit-box{ text-align: center; margin:0 0 50px;}
.btn-submit{ font-size:140%; font-weight: 600; color:#fff; padding:8px 20px; border-radius: 8px; margin:0 auto; background: #9162a7; border:1px solid darken(#9162a7,10%); @include dv; cursor:pointer; transition:.3s;
	&:hover{ background:darken(#9162a7,10%); }
}

//lightbox
.lg-box{ width:800px; background: #fff; box-shadow:0 0 30px rgba(0,0,0,0.7); border-radius: 10px; margin:0 0 0 -400px; position: absolute; top:5%; left:50%; z-index: 101;
	h2{ text-align: center; color:#fff; font-size:140%; font-weight: 600; padding:8px 0; border-radius:10px 10px 0 0;
		background: #68c3ee; /* Old browsers */
		background: -moz-linear-gradient(top,  #68c3ee 0%, #3999c4 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #68c3ee 0%,#3999c4 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #68c3ee 0%,#3999c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 ); /* IE6-9 */
	}
	span{ font-size:80%;}
}
.btn-close{ width:27px; border-radius: 5px; float:right; padding:4px; margin: 0 12px 0 0; cursor: pointer; transition:.3s;
	&:hover{ background:#3484a8;}
	img{ width:100%;}
}
.lg-cont{ background:#eeeded; padding:20px 30px; border-radius: 0 0 10px 10px;
	h3{ color:#2da7e0; font-size: 140%; font-weight: 600; text-align: center; border-bottom:1px solid #aaa; padding:0 0 10px; margin:0 0 10px;}
}
.winner-note{ padding:0 10px; border-bottom:1px solid #aaa; margin:0 0 10px;
	h4{ font-size: 120%; font-weight: 600; margin:0 0 10px;}
	p{ font-size: 100%; margin:0 0 10px;}
}

.term-box{ font-size: 100%; height: 240px; border:1px solid #999;  background: #fff; padding:10px 15px; margin:0 0 20px; overflow: auto;
	h3{font-size: 120%; text-align: left; color:#555; font-weight: 600; margin:0 0 5px; border:none; padding:0;}
}
.term-txt-group{ margin:0 0 20px;}
.agree-box{ padding:10px 10px 0; margin:0 0 10px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;
	input{ width: 1px; height: 1px; position: absolute;}
	input:checked + .check-ui:after{ display: block;}
	input:checked + label + .check-ui:after{ display: block;}
	label{ display: block; transition:.3s; padding:5px; margin:0 0 10px; cursor: pointer; position: relative;
		&:hover{background:#f7f7f7;}
	}
	p{ padding:0 0 0 40px;}
	label.error{ color:#fff; font-weight: 600; width:auto; padding:4px 8px; background:#d93232; border-radius:0 0 5px 5px; position: absolute; top:0; right:20px; z-index: 1;}
}

.check-ui{ width:24px; height:24px; border:4px solid #ddd;margin:0 auto;  position: relative; float: left;
	&:before{ content:''; width:20px; height:20px; background: #fff; border:2px solid #999; display: block;}
	&:after{ content:''; width:16px; height:16px; background:#ec652d; display: none; position: absolute; top:4px; left:4px; z-index: 1; }
}
.input-box{ margin:0 0 10px; position: relative;
	label{ color:#555; font-size:120%; font-weight: 600; text-align: right; width: 17%; @include dv;}
	input{ color:#555; font-size:120%; width: 78%; background: #fff; padding:5px 8px; border:1px solid #ccc; @include dv;}
	label.error{ color:#fff; font-weight: 600; width:auto; padding:4px 8px; background:#d93232; border-radius:0 0 5px 5px; position: absolute; top:0; right:20px; z-index: 1;}

}
.input-val{ color:#409fca; font-size:120%; font-weight: 600; width: 78%; padding:5px 8px; @include dv;}

.btn-form-box{ text-align: center; border-top:2px dashed #fff; padding:20px 0 0; margin:20px 0 0;}

.btn-form-submit{ font-size:120%; font-weight: 600; color:#fff; padding:8px 20px; border-radius: 8px; margin:0 20px; border:2px solid #3891b7; @include dv; cursor:pointer; transition:.3s;
	background: #68c3ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #68c3ee 0%, #3999c4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #68c3ee 0%,#3999c4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #68c3ee 0%,#3999c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 ); /* IE6-9 */
	&:hover{ border:2px solid lighten(#3891b7,20%); }
}
.btn-form-reset{ font-size:120%; font-weight: 600; color:#fff; padding:8px 20px; border-radius: 8px; margin:0 20px; border:2px solid #999; @include dv; cursor:pointer; transition:.3s;
	background: #999; /* Old browsers */
	background: -moz-linear-gradient(top,  #ccc 0%, #999 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ccc 0%,#999 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ccc 0%,#999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 ); /* IE6-9 */
	&:hover{ border:2px solid lighten(#999,20%); }
}
 
//參加辦法
.rule-wrap{ width:1100px; margin:0 auto;}
.p-rule-box{ position: relative; margin:0 0 50px;
	.tit-circle.act{ background: #eec15d;}
	p{ color:#555; font-size:130%; font-weight: 600; text-align: center; width:1000px; line-height:2; padding:55px 0; margin:0 auto;}
}
.rule-cont{ width:100%; padding:0 0 40px; margin:0 0 160px;
	img{ width: 26px; @include dv;}
	span{@include dv;}
	h3{ font-size:140%; font-weight: 600; color:#eec15d; line-height: 1; margin:0 0 10px;}
	h4{ color:#555; font-weight: 600; font-size:115%; padding: 0 0 0 42px; margin:0 0 5px;}
	p{ color:#555; font-size:115%; padding: 0 0 0 78px; margin:0 0 20px;}
}
.rule-txt-box{ margin:0 0 50px;}
.img-rule{ width:300px; position: absolute; bottom:0; left:0; z-index: 1;
	img{ width:100%;}
}


















.footer{ font-size: 90%; color:#fff; padding:40px 0; background: #00a29a;}
.footer-box{ text-align: center; width: 1000px; margin:0 auto;
	img{ width:20%; display: inline-block; vertical-align: bottom;}
}
.f-center{ text-align: left; border-left:5px solid #fff; padding:0 20px; margin:0 20px; display: inline-block; vertical-align: bottom;}
.f-right{ text-align: left; display: inline-block; vertical-align: bottom;}




@import "mobile";


