@charset "UTF-8";
/*(@) Powered By Truesun */
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  font-size: 100%;
  color: #111;
}

input, textarea, select {
  font-family: '微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro',新細明體;
  color: #111;
  outline: none;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

html {
  overflow-x: hidden;
}

.loading {
  background-color: #000;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  perspective: 200px;
}

.loading img {
  width: 100px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 2px;
  margin: auto;
  animation: rotation 1s linear infinite;
}

.loading span {
  width: 100%;
  position: absolute;
  text-align: center;
  top: calc(50% + 50px);
  /*transform: scale(0.75);*/
  color: white;
  font-size: 8px;
  letter-spacing: 5px;
  animation: twinkle 0.8s infinite;
}

.o-grid__item {
  display: none;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.nav-box {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.nav-group {
  overflow: hidden;
}

.logo {
  width: 220px;
  position: absolute;
  top: 150px;
  left: 20px;
  opacity: 0;
}

.logo img {
  width: 100%;
}

.m-logo {
  display: none;
}

.nav {
  position: fixed;
  top: 8%;
  right: -200px;
}

.nav a {
  display: block;
}

.nav a.act {
  background: #009fe8;
}

.link-sty {
  padding: 10px 0;
}

.link-group {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  position: relative;
  left: -45px;
  box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.link-circle {
  color: #555;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  width: 80px;
  height: 72px;
  padding: 8px 0 0;
  background: #eee;
  border-radius: 100px;
  overflow: hidden;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.icon-img {
  width: 30px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 3px;
}

.btn-ind {
  background-color: #ff7aac;
  border-radius: 8px 0 0 0;
}

.btn-ind .link-group {
  border: 8px solid #ff7aac;
}

.btn-ind .icon-img {
  background-image: url(/img/icon_home.png);
}

.btn-ind:hover .link-group {
  border: 8px solid #ff478c;
}

.btn-ind:hover {
  background-color: #ff478c;
}

.btn-ind:hover .icon-img {
  background-image: url(/img/icon_home_on.png);
}

.btn-rule {
  background-color: #eec15d;
}

.btn-rule .link-group {
  border: 8px solid #eec15d;
}

.btn-rule .icon-img {
  background-image: url(/img/icon_plain.png);
}

.btn-rule:hover .link-group {
  border: 8px solid #e9af2f;
}

.btn-rule:hover {
  background-color: #e9af2f;
}

.btn-rule:hover .icon-img {
  background-image: url(/img/icon_plain_on.png);
}

.btn-qa {
  background-color: #76be52;
  transition: .3s;
}

.btn-qa .link-group {
  border: 8px solid #76be52;
}

.btn-qa .icon-img {
  background-image: url(/img/icon_mesg.png);
}

.btn-qa:hover .link-group {
  border: 8px solid #5ea13c;
}

.btn-qa:hover {
  background-color: #5ea13c;
}

.btn-qa:hover .icon-img {
  background-image: url(/img/icon_mesg_on.png);
}

.btn-hot {
  background-color: #9162a7;
  transition: .3s;
}

.btn-hot .link-group {
  border: 8px solid #9162a7;
}

.btn-hot .icon-img {
  background-image: url(/img/icon_search.png);
}

.btn-hot:hover .link-group {
  border: 8px solid #764d89;
}

.btn-hot:hover {
  background-color: #764d89;
}

.btn-hot:hover .icon-img {
  background-image: url(/img/icon_search_on.png);
}

.btn-topic {
  background-color: #ec652d;
  transition: .3s;
}

.btn-topic .link-group {
  border: 8px solid #ec652d;
}

.btn-topic .icon-img {
  background-image: url(/img/icon_light.png);
}

.btn-topic:hover .link-group {
  border: 8px solid #d34b13;
}

.btn-topic:hover {
  background-color: #d34b13;
}

.btn-topic:hover .icon-img {
  background-image: url(/img/icon_light_on.png);
}

.btn-winner {
  background-color: #00a2c9;
  transition: .3s;
}

.btn-winner .link-group {
  border: 8px solid #00a2c9;
}

.btn-winner .icon-img {
  background-image: url(/img/icon_gift.png);
}

.btn-winner:hover .link-group {
  border: 8px solid #007996;
}

.btn-winner:hover {
  background-color: #007996;
}

.btn-winner:hover .icon-img {
  background-image: url(/img/icon_gift_on.png);
}

.btn-food {
  background-color: #1b9e73;
  transition: .3s;
  border-radius: 0 0 0 8px;
}

.btn-food .link-group {
  border: 8px solid #1b9e73;
}

.btn-food .icon-img {
  background-image: url(/img/icon_food.png);
}

.btn-food:hover .link-group {
  border: 8px solid #147253;
}

.btn-food:hover {
  background-color: #147253;
}

.btn-food:hover .icon-img {
  background-image: url(/img/icon_food_on.png);
}

.wrap {
  background: #fff;
  overflow: hidden;
}

.social-box {
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 5;
}

.social-box a {
  width: 62px;
  height: 60px;
  border-radius: 100px;
  margin: 0 8px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 0;
  transition: .3s;
}

.social-box a:hover {
  position: relative;
  top: -5px;
}

.social-box img {
  width: 100%;
}

.main-ad {
  width: 100%;
  height: 965px;
  background: url(/img/main_ad.jpg) no-repeat center bottom;
  position: relative;
  overflow: hidden;
}

.ani-plain {
  width: 267px;
  position: absolute;
  bottom: 450px;
  left: -40%;
  z-index: 2;
}

.ani-plain img {
  width: 100%;
}

.ani-plain-shadow {
  width: 50px;
  position: absolute;
  bottom: 45px;
  left: -38%;
  z-index: 1;
}

.ani-plain-shadow img {
  width: 100%;
}

.slogan-box {
  width: 660px;
  padding: 120px 0 0;
  margin: 0 auto;
  position: relative;
  top: -400px;
  opacity: 0;
  z-index: 3;
  display: block;
}

.slogan-box img {
  width: 100%;
}

.tit-group {
  text-align: center;
  margin: 0 auto;
}

.tit-group h2 {
  color: #fff;
  font-size: 160%;
  font-weight: 600;
  border-radius: 0 0 10px 10px;
  padding: 5px 20px 13px 12px;
  margin: 0 20px;
  background: #eec15d;
  display: inline-block;
  vertical-align: top;
}

.tit-group span {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.tit-group img {
  width: 36px;
  display: inline-block;
  vertical-align: middle;
}

.tit-circle {
  width: 30px;
  height: 30px;
  background: #c9c9c9;
  border-radius: 100px;
  margin: 15px 20px 0;
  display: inline-block;
  vertical-align: top;
}

.rule-box {
  position: relative;
  overflow: hidden;
}

.rule-box .tit-circle.act {
  background: #eec15d;
}

.rule-editor {
  color: #555;
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  width: 1000px;
  line-height: 2;
  padding: 55px 0;
  margin: 0 auto;
}

.img-1 {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: -500px;
  z-index: 1;
}

.img-1 img {
  width: 100%;
}

.img-top {
  width: 929px;
  height: 83px;
  margin: 0 auto;
}

.qa-box {
  background: #d9d9d9;
  padding: 0 0 40px;
  position: relative;
  overflow: hidden;
}

.qa-box .tit-circle {
  background: #fff;
}

.qa-box .tit-circle.act {
  background: #76be52;
}

.qa-box h2 {
  background: #76be52;
}

.qa-box p {
  color: #555;
  font-size: 110%;
  font-weight: 600;
  text-align: center;
  width: 1000px;
  line-height: 2;
  padding: 55px 0;
  margin: 0 auto;
}

.img-4 {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: -500px;
  z-index: 1;
}

.img-4 img {
  width: 100%;
}

.qa-note {
  width: 900px;
  padding: 30px 40px;
  margin: 40px auto;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.qa-note h3 {
  color: #76be52;
  font-size: 160%;
  font-weight: 600;
}

.qa-note p {
  text-align: left;
  color: #777;
  line-height: 1.4;
  width: auto;
  padding: 0;
  margin: 0 0 10px;
}

.qa-left {
  width: 70%;
  float: left;
}

.qa-right {
  text-align: center;
  width: 30%;
  float: right;
}

.btn-to-answer {
  border-radius: 260px;
  box-shadow: -10px 15px 30px rgba(0, 0, 0, 0.2);
  border: 14px solid #76be52;
  display: inline-block;
}

.qa-group {
  width: 160px;
  height: 160px;
  background: #eee;
  border-radius: 260px;
  box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.2);
  transition: .3s;
}

.qa-circle {
  color: #555;
  text-align: center;
  font-size: 160%;
  font-weight: 600;
  line-height: 1;
  width: 160px;
  height: 160px;
  line-height: 160px;
  background: #eee;
  border-radius: 260px;
  overflow: hidden;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
}

.lg-mesg {
  width: 280px;
  background: #76be52;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0 0 0 -140px;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 101;
  overflow: hidden;
}

.lg-tit {
  color: #fff;
  font-size: 125%;
  font-weight: 600;
  background: #76be52;
  border-bottom: 3px solid #5c973f;
  padding: 10px;
}

.qa-lg-cont {
  text-align: center;
  font-size: 120%;
  background: #fff;
  padding: 30px;
  border-bottom: 1px solid #ccc;
}

.lg-btn-box {
  text-align: center;
  padding: 10px;
  background: #f7f7f7;
}

.btn-ok {
  color: #fff;
  font-size: 100%;
  background: #76be52;
  border-radius: 8px;
  padding: 8px 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
}

.btn-ok:hover {
  background: #5ea13c;
}

.character-box {
  padding: 0 0 40px;
  position: relative;
  overflow: hidden;
}

.character-box .tit-group {
  margin: 0 auto 40px;
}

.character-box .tit-circle.act {
  background: #9162a7;
}

.character-box h2 {
  background: #9162a7;
  margin: 0 20px;
  padding: 2px 20px 6px 12px;
}

.character-box h2 img {
  width: 65px;
  margin: 0 -18px 0 -15px;
}

.img-2 {
  width: 280px;
  position: absolute;
  bottom: 0;
  left: -500px;
  z-index: 1;
}

.img-2 img {
  width: 100%;
}

.character-group {
  text-align: center;
  width: 780px;
  margin: 0 auto 60px;
}

.character-group .slick-prev, .character-group .slick-next {
  width: 50px;
  height: 50px;
}

.character-group .slick-prev {
  left: -45px;
}

.character-group .slick-next {
  right: -45px;
}

.character {
  text-align: center;
  font-size: 120%;
  color: #555;
  width: 216px;
  margin: 0 auto;
}

.character-img {
  width: 200px;
  height: 200px;
  border: 8px solid #dcdcdd;
  margin: 0 0 5px;
}

.character-img img {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border: 10px solid #9162a7;
  box-sizing: border-box;
}

.char-name {
  background: #b6afd6;
  padding: 5px 0;
}

.winner-box {
  background: #d9d9d9;
  padding: 0 0 40px;
  position: relative;
  overflow: hidden;
}

.winner-box .tit-group {
  margin: 0 auto 40px;
}

.winner-box .tit-circle.act {
  background: #00a2c9;
}

.winner-box h2 {
  background: #00a2c9;
  margin: 0 30px;
}

.img-3 {
  width: 260px;
  position: absolute;
  bottom: 0;
  right: -500px;
  z-index: 1;
}

.img-3 img {
  width: 100%;
}

.winner-list {
  color: #555;
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  width: 900px;
  background: #fff;
  line-height: 1.6;
  padding: 60px 0;
  margin: 60px auto;
}

.ind-win {
  width: 820px;
  padding: 60px;
}

.ind-win img {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 10px;
}

.ind-win table {
  margin: 0 0 10px;
}

.ind-win td {
  text-align: left;
  padding: 5px;
}

.page-ad {
  width: 100%;
  height: 695px;
  background: url(/img/page_ad.jpg) no-repeat center bottom;
  position: relative;
  overflow: hidden;
}

.p-ani-plain {
  width: 267px;
  height: 170px;
  position: absolute;
  bottom: 450px;
  left: -40%;
  z-index: 2;
}

.p-ani-plain img {
  width: 100%;
}

.p-ani-plain-shadow {
  width: 50px;
  height: 55px;
  position: absolute;
  bottom: 45px;
  left: -38%;
  z-index: 1;
}

.p-ani-plain-shadow img {
  width: 100%;
}

.page-slogan-box {
  width: 425px;
  padding: 40px 0 0;
  margin: 0 auto;
  position: relative;
  top: -500px;
  opacity: 0;
  z-index: 4;
  display: block;
}

.page-slogan-box img {
  width: 100%;
}

.page-logo {
  width: 180px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.page-logo img {
  width: 100%;
}

.page-wrap {
  width: 980px;
  margin: 0 auto;
}

.page-bot {
  width: 100%;
  position: relative;
}

.page-bot img {
  float: right;
}

.topic-box {
  margin: 0 auto 50px;
}

.topic-box h2 {
  background: #ec652d;
  padding: 5px 20px 14px 14px;
}

.topic-box h2 img {
  width: 39px;
  margin: 0 -10px;
}

.topic-box .tit-circle.act {
  background: #ec652d;
}

.topic-cont {
  width: 100%;
  padding: 0 0 40px;
  margin: 0 auto 50px;
  border-bottom: 1px solid #555;
}

.topic-cont-last {
  border: none;
}

.topic-txt {
  width: 76%;
  display: inline-block;
  vertical-align: top;
}

.topic-txt h3 {
  font-size: 125%;
  font-weight: 600;
  color: #ec652d;
  padding: 7px 15px;
  background: #dcdcdd;
}

.topic-in {
  font-size: 100%;
  color: #555;
  line-height: 1.6;
  padding: 10px 40px 10px 10px;
}

.topic-in p {
  padding: 0 0 0 30px;
}

.topic-in span {
  padding: 0 0 0 20px;
  display: inline-block;
}

.topic-img {
  width: 22%;
  padding: 10px 0 0;
  display: inline-block;
  vertical-align: top;
}

.topic-img img {
  width: 66%;
  margin: 0 auto;
}

.img-fly {
  width: 247px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.img-fly img {
  width: 100%;
}

.img-fly-r {
  width: 300px;
  position: absolute;
  top: -828px;
  right: 0;
  z-index: 1;
}

.img-fly-r img {
  width: 100%;
}

.character-page {
  padding: 0 0 40px;
  position: relative;
}

.character-page .tit-group {
  margin: 0 auto 40px;
}

.character-page .tit-circle.act {
  background: #9162a7;
}

.character-page h2 {
  background: #9162a7;
  padding: 5px 20px 10px 17px;
  margin: 0 20px;
}

.character-page h2 img {
  width: 60px;
  margin: 0 -18px 0 -16px;
}

.sub-tit {
  margin: 0 0 50px;
  position: relative;
}

.sub-tit h3 {
  color: #fff;
  font-size: 140%;
  font-weight: 600;
  background: #9162a7;
  border-radius: 20px;
  padding: 10px 10px 10px 75px;
  margin: 0 0 0 30px;
}

.reciprocal {
  float: right;
  line-height: 1;
}

.reciprocal span {
  display: inline-block;
  vertical-align: middle;
}

.countdown {
  display: inline-block;
  vertical-align: middle;
}

.sub-tit-icon {
  width: 70px;
  height: 70px;
  background: #eee;
  border: 10px solid #9162a7;
  border-radius: 120px;
  box-shadow: -10px 13px 30px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: -23px;
}

.sub-icon-circle {
  text-align: center;
  width: 70px;
  height: 70px;
  background: #eee;
  border-radius: 120px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.sub-icon-circle img {
  width: 67%;
  margin: 11px 0 0;
  display: inline-block;
}

.character-list {
  width: 100%;
  margin: 0 auto 80px;
}

.character-list li {
  height: 340px;
  border-bottom: 1px solid #666;
}

.character-list li:nth-of-type(1) .votes-bar {
  background: #fff000;
}

.character-list li:nth-of-type(2) .votes-bar {
  background: #8ec31e;
}

.character-list li:nth-of-type(3) .votes-bar {
  background: #83cbcc;
}

.character-list li:nth-of-type(4) .votes-bar {
  background: #bc91c0;
}

.character-list li:nth-of-type(5) .votes-bar {
  background: #e8579a;
}

.character-list li:last-child .votes-bar {
  background: #ea5950;
}

.character-list li:last-child {
  border: none;
}

.character-list .character {
  font-size: 120%;
  font-weight: 600;
  padding: 20px;
  width: 20%;
  display: inline-block;
  vertical-align: middle;
}

.character-list .char-name {
  font-size: 120%;
  font-weight: 600;
}

.p-character-img {
  width: 100%;
  height: auto;
  border-radius: 200px;
  border: 5px solid #dcdcdd;
  margin: 0 0 5px;
  box-sizing: border-box;
}

.p-character-img_ {
  width: 100%;
  height: auto;
  border-radius: 200px;
  border: 10px solid #9162a7;
  overflow: hidden;
  box-sizing: border-box;
}

.p-character-img_ img {
  width: 100%;
  margin: 0 auto;
}

.company {
  margin: 0 0 5px;
}

.job-tit {
  margin: 0 0 5px;
}

.votes-total {
  width: 70%;
  height: 100%;
  border-left: 1px solid #666;
  display: inline-block;
  vertical-align: middle;
}

.votes-total:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.votes-bar {
  font-size: 180%;
  color: #111;
  text-align: right;
  height: 58px;
  line-height: 58px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: middle;
}

.vote-num {
  text-align: right;
  width: 100%;
  min-width: 80px;
  height: 58px;
  line-height: 58px;
  padding: 0 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.bar-y {
  background: #fff000;
}

.bar-g {
  background: #8ec31e;
}

.bar-b {
  background: #83cbcc;
}

.bar-pur {
  background: #bc91c0;
}

.bar-p {
  background: #e8579a;
}

.bar-o {
  background: #ea5950;
}

.p-winner-box {
  padding: 0 0 40px;
  position: relative;
}

.p-winner-box .tit-circle.act {
  background: #00a2c9;
}

.p-winner-box h2 {
  background: #00a2c9;
  margin: 0 30px;
}

.p-winner-list {
  padding: 20px;
  margin: 0 auto 80px;
}

.p-winner-list img {
  width: 100% !important;
  height: auto !important;
  margin: 0 0 10px;
}

.p-winner-list table {
  margin: 0 0 10px;
}

.p-winner-list td {
  text-align: left;
  padding: 5px;
}

.p-qa-box {
  margin: 0 0 50px;
}

.p-qa-box h2 {
  background: #76be52;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.qa-pagination {
  display: inline-block;
  vertical-align: middle;
}

.qa-pagination li {
  color: #111;
  font-size: 120%;
  font-weight: 600;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0 15px;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
}

.qa-pagination li.act {
  color: #fff;
  background: #76be52;
}

.qa-sub-tit h3 {
  background: #76be52;
}

.qa-sub-tit .sub-tit-icon {
  border: 13px solid #76be52;
}

.question-video {
  background: #76be52;
  padding: 25px;
  border-radius: 30px;
  margin: 0 0 50px;
  position: relative;
}

.question-video iframe {
  width: 100%;
  height: 500px;
}

.click-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top: 26px solid #76be52;
  margin: 0 0 0 -18px;
  position: absolute;
  bottom: -44px;
  left: 50%;
}

.answer-box {
  text-align: center;
  width: 800px;
  margin: 0 auto 50px;
}

.answer-btn {
  width: 120px;
  height: 120px;
  background: #eee;
  margin: 0 60px;
  border-radius: 120px;
  box-shadow: -10px 13px 50px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
}

.answer-txt {
  text-align: center;
  font-size: 160%;
  font-weight: 600;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #eee;
  border-radius: 120px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.answer-txt img {
  width: 67%;
  margin: 16px 0 0;
  display: inline-block;
}

.yes {
  border: 15px solid #76be52;
}

.yes:hover {
  border: 15px solid #5ea13c;
}

.no {
  border: 15px solid #ec652d;
}

.no:hover {
  border: 15px solid #d34b13;
}

.answer-why {
  color: #fff;
  font-size: 150%;
  font-weight: 500;
  background: #76be52;
  padding: 35px 35px 35px 95px;
  border-radius: 20px;
  margin: 0 0 50px 50px;
  position: relative;
}

.answer-why .sub-tit-icon {
  border: 13px solid #76be52;
  left: -50px;
}

.img-qa-r {
  width: 300px;
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 1;
}

.img-qa-r img {
  width: 100%;
}

.btn-next {
  color: #fff;
  font-size: 100%;
  text-align: center;
  width: 120px;
  background: #eb652d;
  border-radius: 8px;
  border: none;
  margin: 40px auto 0;
  padding: 8px 20px;
  cursor: pointer;
  display: block;
  z-index: 1;
  transition: .3s;
}

.btn-next:hover {
  background: #d14c14;
}

.btn-link {
  color: #fff;
  font-size: 100%;
  background: #eec15d;
  border-radius: 8px;
  border: none;
  margin: 15px auto;
  padding: 3px 20px;
  margin: 20px 0 0;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  transition: .3s;
}

.btn-link:hover {
  background: #e9af2f;
}

.qa-character {
  text-align: center;
  margin: 0 auto 10px;
}

.qa-character li {
  width: 27%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.qa-character li .character {
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
}

.qa-character li:nth-of-type(4) {
  border: none;
}

.qa-character li:nth-of-type(5) {
  border: none;
}

.qa-character li:last-child {
  border: none;
}

.qa-character label {
  display: block;
  padding: 20px;
  transition: .3s;
  cursor: pointer;
}

.qa-character label:hover {
  background: #eee;
}

label.error {
  text-align: center;
  color: #fff;
  font-size: 140%;
  padding: 20px 0;
  margin: 0 0 40px;
  background: #e14848;
  display: block;
  position: relative;
  top: -30px;
}

.radio-box {
  position: relative;
}

.radio-box input {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  outline: none;
}

.radio-box input:checked + .radio-ui:after {
  display: block;
}

.radio-ui {
  width: 24px;
  height: 24px;
  border: 4px solid #ddd;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
}

.radio-ui:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 50px;
  display: block;
}

.radio-ui:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #ec652d;
  border-radius: 50px;
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}

.btn-submit-box {
  text-align: center;
  margin: 0 0 50px;
}

.btn-submit {
  font-size: 140%;
  font-weight: 600;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 auto;
  background: #9162a7;
  border: 1px solid #764d89;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
}

.btn-submit:hover {
  background: #764d89;
}

.lg-box {
  width: 800px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 0 0 0 -400px;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 101;
}

.lg-box h2 {
  text-align: center;
  color: #fff;
  font-size: 140%;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 10px 10px 0 0;
  background: #68c3ee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #68c3ee 0%, #3999c4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #68c3ee 0%, #3999c4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #68c3ee 0%, #3999c4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 );
  /* IE6-9 */
}

.lg-box span {
  font-size: 80%;
}

.btn-close {
  width: 27px;
  border-radius: 5px;
  float: right;
  padding: 4px;
  margin: 0 12px 0 0;
  cursor: pointer;
  transition: .3s;
}

.btn-close:hover {
  background: #3484a8;
}

.btn-close img {
  width: 100%;
}

.lg-cont {
  background: #eeeded;
  padding: 20px 30px;
  border-radius: 0 0 10px 10px;
}

.lg-cont h3 {
  color: #2da7e0;
  font-size: 140%;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #aaa;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

.winner-note {
  padding: 0 10px;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
}

.winner-note h4 {
  font-size: 120%;
  font-weight: 600;
  margin: 0 0 10px;
}

.winner-note p {
  font-size: 100%;
  margin: 0 0 10px;
}

.term-box {
  font-size: 100%;
  height: 240px;
  border: 1px solid #999;
  background: #fff;
  padding: 10px 15px;
  margin: 0 0 20px;
  overflow: auto;
}

.term-box h3 {
  font-size: 120%;
  text-align: left;
  color: #555;
  font-weight: 600;
  margin: 0 0 5px;
  border: none;
  padding: 0;
}

.term-txt-group {
  margin: 0 0 20px;
}

.agree-box {
  padding: 10px 10px 0;
  margin: 0 0 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.agree-box input {
  width: 1px;
  height: 1px;
  position: absolute;
}

.agree-box input:checked + .check-ui:after {
  display: block;
}

.agree-box input:checked + label + .check-ui:after {
  display: block;
}

.agree-box label {
  display: block;
  transition: .3s;
  padding: 5px;
  margin: 0 0 10px;
  cursor: pointer;
  position: relative;
}

.agree-box label:hover {
  background: #f7f7f7;
}

.agree-box p {
  padding: 0 0 0 40px;
}

.agree-box label.error {
  color: #fff;
  font-weight: 600;
  width: auto;
  padding: 4px 8px;
  background: #d93232;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
}

.check-ui {
  width: 24px;
  height: 24px;
  border: 4px solid #ddd;
  margin: 0 auto;
  position: relative;
  float: left;
}

.check-ui:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #999;
  display: block;
}

.check-ui:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #ec652d;
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;
}

.input-box {
  margin: 0 0 10px;
  position: relative;
}

.input-box label {
  color: #555;
  font-size: 120%;
  font-weight: 600;
  text-align: right;
  width: 17%;
  display: inline-block;
  vertical-align: middle;
}

.input-box input {
  color: #555;
  font-size: 120%;
  width: 78%;
  background: #fff;
  padding: 5px 8px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: middle;
}

.input-box label.error {
  color: #fff;
  font-weight: 600;
  width: auto;
  padding: 4px 8px;
  background: #d93232;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 1;
}

.input-val {
  color: #409fca;
  font-size: 120%;
  font-weight: 600;
  width: 78%;
  padding: 5px 8px;
  display: inline-block;
  vertical-align: middle;
}

.btn-form-box {
  text-align: center;
  border-top: 2px dashed #fff;
  padding: 20px 0 0;
  margin: 20px 0 0;
}

.btn-form-submit {
  font-size: 120%;
  font-weight: 600;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 20px;
  border: 2px solid #3891b7;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
  background: #68c3ee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #68c3ee 0%, #3999c4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #68c3ee 0%, #3999c4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #68c3ee 0%, #3999c4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 );
  /* IE6-9 */
}

.btn-form-submit:hover {
  border: 2px solid #7ebdd7;
}

.btn-form-reset {
  font-size: 120%;
  font-weight: 600;
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 20px;
  border: 2px solid #999;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: .3s;
  background: #999;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ccc 0%, #999 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ccc 0%, #999 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ccc 0%, #999 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ee', endColorstr='#3999c4',GradientType=0 );
  /* IE6-9 */
}

.btn-form-reset:hover {
  border: 2px solid #cccccc;
}

.rule-wrap {
  width: 1100px;
  margin: 0 auto;
}

.p-rule-box {
  position: relative;
  margin: 0 0 50px;
}

.p-rule-box .tit-circle.act {
  background: #eec15d;
}

.p-rule-box p {
  color: #555;
  font-size: 130%;
  font-weight: 600;
  text-align: center;
  width: 1000px;
  line-height: 2;
  padding: 55px 0;
  margin: 0 auto;
}

.rule-cont {
  width: 100%;
  padding: 0 0 40px;
  margin: 0 0 160px;
}

.rule-cont img {
  width: 26px;
  display: inline-block;
  vertical-align: middle;
}

.rule-cont span {
  display: inline-block;
  vertical-align: middle;
}

.rule-cont h3 {
  font-size: 140%;
  font-weight: 600;
  color: #eec15d;
  line-height: 1;
  margin: 0 0 10px;
}

.rule-cont h4 {
  color: #555;
  font-weight: 600;
  font-size: 115%;
  padding: 0 0 0 42px;
  margin: 0 0 5px;
}

.rule-cont p {
  color: #555;
  font-size: 115%;
  padding: 0 0 0 78px;
  margin: 0 0 20px;
}

.rule-txt-box {
  margin: 0 0 50px;
}

.img-rule {
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.img-rule img {
  width: 100%;
}

.footer {
  font-size: 90%;
  color: #fff;
  padding: 40px 0;
  background: #00a29a;
}

.footer-box {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.footer-box img {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
}

.f-center {
  text-align: left;
  border-left: 5px solid #fff;
  padding: 0 20px;
  margin: 0 20px;
  display: inline-block;
  vertical-align: bottom;
}

.f-right {
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
}

@media screen and (max-width: 1400px) {
  .link-group {
    left: -25px;
  }
  .img-1 {
    width: 25%;
  }
  .img-1 img {
    width: 100%;
  }
  .img-2 {
    width: 18%;
  }
  .img-2 img {
    width: 100%;
  }
  .img-3 {
    width: 18%;
  }
  .img-3 img {
    width: 100%;
  }
  .img-4 {
    width: 14%;
  }
  .img-4 img {
    width: 100%;
  }
  .social-box {
    right: 10px;
  }
  .rule-cont {
    width: auto;
    padding: 0 40px 40px 0;
    margin: 0 0 200px;
  }
  .img-rule {
    width: 24%;
  }
  .page-bot img {
    width: 100%;
    float: none;
  }
  .img-qa-r {
    width: 20%;
    bottom: 0;
  }
  .img-qa-r img {
    width: 100%;
  }
  .answer-why {
    margin: 0 0 300px 50px;
  }
  .img-fly-r {
    width: 20%;
    top: -787px;
  }
  .img-fly-r img {
    width: 100%;
  }
  .img-fly {
    width: 13%;
  }
  .topic-cont-last {
    margin: 0 auto 150px;
  }
}

@media screen and (max-width: 1200px) {
  .tit-group {
    width: 100%;
  }
  .tit-circle {
    width: 24px;
    height: 24px;
    margin: 10px 20px 0;
  }
  .main-ad {
    height: 800px;
  }
  .slogan-box {
    width: 460px;
    padding: 90px 0 0;
  }
  .logo {
    width: 200px;
    top: 100px;
  }
  .qa-note {
    width: 80%;
    margin: 40px auto;
  }
  .qa-group {
    width: 150px;
    height: 150px;
  }
  .qa-circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
  }
  .character-group {
    width: 70%;
  }
  .character-img {
    width: 90%;
    height: auto;
  }
  .character {
    width: 94%;
    margin: 0 auto;
  }
  .winner-list {
    width: 80%;
  }
  .page-ad {
    height: 595px;
  }
  .page-slogan-box {
    padding: 90px 0 0;
  }
  .page-wrap {
    width: 100%;
  }
  .rule-wrap {
    width: 100%;
  }
  .p-rule-box {
    margin: 0 0 20px;
  }
  .rule-cont {
    padding: 0 130px 40px 40px;
  }
  .rule-cont p {
    padding: 0 0 0 74px;
  }
  .p-qa-box {
    margin: 0 0 40px;
  }
  .sub-tit {
    margin: 0 130px 50px 30px;
  }
  .qa-sub-tit h3 {
    padding: 10px 10px 10px 85px;
  }
  .qa-sub-tit .sub-icon-circle img {
    margin: 16px 0 0;
  }
  .qa-sub-tit .sub-tit-icon {
    border: 10px solid #76be52;
  }
  .question-video {
    margin: 0 130px 50px 40px;
  }
  .answer-why {
    padding: 35px 35px 35px 65px;
    margin: 0 70px 210px 70px;
  }
  .character-list {
    width: 90%;
  }
  .sub-icon-circle img {
    margin: 12px 0 0;
  }
  .votes-total {
    width: 60%;
  }
  .topic-cont {
    width: 90%;
  }
  .topic-cont-last {
    margin: 0 auto 100px;
  }
  .img-fly-r {
    top: -646px;
  }
}

@media screen and (max-width: 1000px) {
  .nav-box {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .logo {
    display: none;
  }
  .m-logo {
    width: 110px;
    margin: 5px 0 5px 10px;
    float: left;
    display: block;
  }
  .m-logo img {
    width: 100%;
  }
  .nav-group {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50px;
    right: -100%;
  }
  .nav {
    margin: 0 0 0 100px;
    position: static;
  }
  .btn-rule {
    border-radius: 0;
  }
  .btn-food {
    border-radius: 0;
  }
  .link-sty {
    padding: 0;
    border-radius: 80px 0 0 80px;
  }
  .link-group {
    width: auto;
    height: auto;
    box-shadow: none;
    left: 0;
  }
  .link-circle {
    font-size: 160%;
    text-align: left;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding: 13px 80px 13px 20px;
    margin: 0 -50px 0 0;
  }
  .link-circle br {
    display: none;
  }
  .icon-img {
    height: 36px;
    width: 50px;
    display: inline-block;
    vertical-align: text-bottom;
  }
  .o-grid__item {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
    float: right;
    padding: 0;
    display: block;
  }
  .c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  .c-hamburger:focus {
    outline: none;
  }
  .c-hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 2px;
    right: 2px;
    height: 2px;
    background-color: #0f2a39;
  }
  .c-hamburger span::before,
  .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0f2a39;
    content: "";
  }
  .c-hamburger span::before {
    top: -10px;
  }
  .c-hamburger span::after {
    bottom: -10px;
  }
  /**
	 * Style 2
	 * 
	 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
	 * down to center and transform into an "x".
	 */
  .c-hamburger--htx {
    background-color: transparent;
  }
  .c-hamburger--htx:hover span {
    background: #0f2a39;
  }
  .c-hamburger--htx:hover span::before {
    background: #0f2a39;
  }
  .c-hamburger--htx:hover span::after {
    background: #0f2a39;
  }
  .c-hamburger--htx span::before,
  .c-hamburger--htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
  }
  .c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }
  .c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }
  /* active state, i.e. menu open */
  .c-hamburger--htx.is-active span {
    background: none;
  }
  .c-hamburger--htx.is-active span::before {
    top: 0;
    background-color: #0f2a39;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    background-color: #0f2a39;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .c-hamburger--htx.is-active span::before,
  .c-hamburger--htx.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
  }
  .social-box {
    top: 60px;
  }
  .social-box a {
    width: 44px;
    height: 42px;
  }
  .slogan-box {
    padding: 120px 0 0;
  }
  .main-ad {
    height: 720px;
  }
  .tit-group h2 {
    font-size: 150%;
    padding: 2px 20px 13px 12px;
    margin: 0 10px;
  }
  .tit-circle {
    width: 20px;
    height: 20px;
    margin: 19px 17px 0;
  }
  .img-top {
    width: auto;
    height: auto;
  }
  .img-top img {
    width: 100%;
  }
  .qa-note {
    width: 90%;
  }
  .btn-to-answer {
    border: 15px solid #76be52;
  }
  .qa-group {
    width: 100px;
    height: 100px;
  }
  .qa-circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .qa-left {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .qa-right {
    width: 28%;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .character-group {
    width: 82%;
  }
  .character {
    width: 90%;
  }
  .character-box h2 {
    padding: 2px 20px 7px 12px;
  }
  .character {
    font-size: 110%;
  }
  .rule-editor {
    width: 90%;
    margin: 0 auto;
  }
  .page-logo {
    display: none;
  }
  .page-slogan-box {
    padding: 110px 0 0;
  }
  .page-wrap {
    width: 94%;
  }
  .rule-wrap {
    width: 94%;
  }
  .rule-cont {
    padding: 0;
    margin: 0 auto 200px;
  }
  .qa-sub-tit .sub-icon-circle img {
    margin: 10px 0 0;
  }
  .qa-sub-tit h3 {
    padding: 10px 10px 10px 65px;
  }
  .qa-pagination {
    text-align: left;
  }
  .qa-pagination li {
    font-size: 100%;
    margin: 0 10px;
  }
  .p-qa-box {
    text-align: left;
  }
  .sub-tit {
    margin: 0 0 40px;
  }
  .question-video {
    padding: 20px;
    border-radius: 20px;
    margin: 0 0 50px;
  }
  .question-video iframe {
    height: 430px;
  }
  .answer-box {
    width: auto;
  }
  .answer-why {
    font-size: 120%;
    margin: 0 0 180px 50px;
    padding: 35px 35px 35px 55px;
  }
  .btn-next {
    margin: 30px auto 0;
  }
  .qa-character label {
    padding: 10px;
  }
  .qa-character li .character {
    width: 100%;
    padding: 0;
  }
  .lg-box {
    width: 90%;
    margin: 0;
    left: 5%;
  }
  .sub-tit-icon {
    width: 60px;
    height: 60px;
    border: 10px solid #9162a7;
    top: -17px;
  }
  .sub-icon-circle {
    width: 60px;
    height: 60px;
  }
  .sub-icon-circle img {
    margin: 9px 0 0;
  }
  .character-list {
    width: 100%;
  }
  .character-list .character {
    width: 25%;
  }
  .topic-cont {
    width: 100%;
    padding: 0 0 10px;
    margin: 0 auto 20px;
  }
  .topic-in {
    padding: 10px 0px 10px 10px;
  }
  .topic-in span {
    padding: 0;
  }
  .topic-cont-last {
    margin: 0 auto 100px;
  }
  .img-fly-r {
    top: -582px;
  }
  .footer {
    padding: 10px 0;
  }
  .footer-box {
    text-align: left;
    width: 96%;
  }
  .footer-box img {
    margin: 0 0 10px;
    display: block;
  }
  .f-center {
    margin: 0 30px 0 0;
    padding: 0;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .main-ad {
    height: 480px;
  }
  .slogan-box {
    width: 320px;
    padding: 110px 0 0;
  }
  .tit-group h2 {
    font-size: 130%;
    padding: 5px 15px 10px 10px;
    margin: 0 5px;
  }
  .tit-group img {
    width: 36px;
  }
  .tit-circle {
    width: 15px;
    height: 15px;
    margin: 15px 6px 0;
  }
  .btn-link {
    padding: 8px 20px;
  }
  .img-1 {
    display: none;
  }
  .img-4 {
    display: none;
  }
  .img-3 {
    display: none;
  }
  .img-2 {
    display: none;
  }
  .qa-box {
    padding: 0 0 10px;
  }
  .qa-box .tit-circle {
    margin: 15px 5px 0;
  }
  .qa-note {
    margin: 20px auto;
    padding: 20px 25px;
  }
  .qa-left {
    width: auto;
    display: block;
  }
  .qa-right {
    width: auto;
    display: block;
  }
  .character-group {
    margin: 0 auto;
  }
  .character-box h2 img {
    width: 40px;
    margin: 0 -11px 0 -11px;
  }
  .character-box .tit-group {
    margin: 0 auto;
  }
  .character {
    margin: 20px auto;
  }
  .winner-list {
    padding: 20px;
    margin: 30px auto;
  }
  .winner-box .tit-group {
    margin: 0 auto 20px;
  }
  .footer-box img {
    width: 40%;
  }
  .page-ad {
    height: 480px;
  }
  .page-slogan-box {
    width: 70%;
  }
  .rule-cont {
    margin: 0 auto 100px;
  }
  .rule-cont h3 {
    font-size: 110%;
  }
  .rule-cont h3 img {
    width: 25px;
  }
  .rule-cont h4 {
    font-size: 100%;
    padding: 0 0 0 31px;
  }
  .rule-cont p {
    font-size: 90%;
    padding: 0 0 0 63px;
  }
  .ani-plain {
    width: 180px;
    bottom: 60px;
    left: -300px;
  }
  .ani-plain-shadow {
    width: 100px;
    bottom: 15px;
    left: -300px;
  }
  .p-qa-box {
    text-align: center;
    margin: 0 0 20px;
  }
  .p-qa-box h2 {
    margin: 0 auto 10px;
  }
  .qa-pagination {
    margin: 0 0 15px;
  }
  .qa-pagination li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 6px;
  }
  .qa-sub-tit h3 {
    padding: 10px 15px 10px 65px;
  }
  .sub-tit {
    margin: 0 0 20px;
  }
  .sub-tit h3 {
    font-size: 120%;
  }
  .question-video {
    padding: 15px;
    border-radius: 10px;
  }
  .question-video iframe {
    height: 260px;
  }
  .answer-btn {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
  .answer-txt {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .answer-why {
    font-size: 110%;
    line-height: 1.6;
    margin: 0 0 110px 50px;
    padding: 15px 15px 15px 40px;
  }
  .btn-next {
    margin: 15px auto 0;
    float: none;
  }
  .character-list.qa-character li {
    height: auto;
  }
  .qa-character li {
    width: 45%;
  }
  .qa-character li:nth-of-type(4) {
    border-bottom: 1px solid #666;
  }
  .btn-submit {
    font-size: 120%;
  }
  .lg-box {
    top: 1%;
  }
  .lg-box h2 {
    padding: 8px;
  }
  .lg-box span {
    display: block;
  }
  .lg-cont {
    height: 400px;
    padding: 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
  }
  .input-box label {
    text-align: left;
    width: auto;
    margin: 0 0 5px;
    display: block;
  }
  .input-box input {
    width: 100%;
    box-sizing: border-box;
  }
  .input-box label.error {
    top: 32px;
    right: 10px;
  }
  .btn-form-reset {
    margin: 0 5px;
  }
  .btn-form-submit {
    margin: 0 5px;
  }
  .input-val {
    padding: 0;
  }
  .character-page h2 img {
    width: 38px;
    margin: 0 -11px 0 -8px;
  }
  .sub-tit h3 {
    padding: 10px 10px 10px 50px;
  }
  .sub-tit-icon {
    width: 50px;
    height: 50px;
    top: -16px;
  }
  .sub-icon-circle {
    width: 50px;
    height: 50px;
  }
  .sub-icon-circle img {
    margin: 7px 0 0;
  }
  .character-list {
    margin: 0 auto 20px;
  }
  .character-list li {
    height: 330px;
  }
  .character-list .character {
    font-size: 110%;
    width: 30%;
    padding: 5px 10px;
  }
  .votes-bar {
    font-size: 140%;
  }
  .topic-box {
    margin: 0 auto 20px;
  }
  .topic-box h2 img {
    width: 32px;
  }
  .topic-txt h3 {
    font-size: 110%;
  }
  .topic-in {
    font-size: 100%;
    padding: 15px;
  }
  .topic-txt {
    width: auto;
  }
  .topic-img {
    width: auto;
    padding: 0;
  }
  .topic-img img {
    width: 100px;
    margin: 0 10px 0 0 !important;
    display: inline-block;
  }
  .img-fly, .img-fly-r {
    display: none;
  }
  .topic-cont-last {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 680px) {
  .character-list li {
    height: 300px;
  }
}

@media screen and (max-width: 580px) {
  .character-list li {
    height: 280px;
  }
  .reciprocal {
    float: none;
  }
}

@media screen and (max-width: 480px) {
  .character-group .slick-prev, .character-group .slick-next {
    width: 30px;
    height: 30px;
  }
  .character-group .slick-prev:before, .character-group .slick-next:before {
    font-size: 30px;
  }
  .character-group .slick-prev {
    left: -25px;
  }
  .character-group .slick-next {
    right: -25px;
  }
  .character-list li {
    height: 250px;
  }
  .rule-editor {
    font-size: 110%;
    padding: 15px 0;
  }
}

@media screen and (max-width: 375px) {
  .nav {
    margin: 0 0 0 60px;
  }
  .link-circle {
    font-size: 130%;
    padding: 0 80px 0 10px;
  }
  .tit-group div:nth-of-type(2) {
    display: none;
  }
  .tit-group div:nth-of-type(5) {
    display: none;
  }
  .tit-group h2 {
    margin: 0 5px;
  }
  .tit-circle {
    margin: 15px 0 0;
  }
  .qa-box .tit-circle {
    display: none;
  }
  .icon-img {
    height: 30px;
    width: 42px;
    vertical-align: middle;
  }
  .slogan-box {
    width: 290px;
    padding: 110px 0 0;
  }
  .character-box {
    padding: 0 0 10px;
  }
  .winner-box {
    padding: 0 0 10px;
  }
  .p-qa-box h2 {
    margin: 0 auto 10px;
  }
  .qa-pagination li {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 0 3px;
  }
  .sub-tit {
    margin: 0 0 20px;
  }
  .sub-tit-icon {
    top: -6px;
  }
  .answer-btn {
    width: 80px;
    height: 80px;
  }
  .answer-txt {
    font-size: 180%;
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  .answer-why {
    margin: 0 0 80px 40px;
    padding: 15px 15px 15px 40px;
  }
  .answer-why .sub-tit-icon {
    left: -36px;
  }
  .btn-form-reset {
    padding: 8px 10px;
  }
  .btn-form-submit {
    padding: 8px 10px;
  }
  .lg-mesg {
    width: 90%;
    margin: 0;
    top: 5%;
    left: 5%;
  }
  .p-character-img_ {
    border: 5px solid #9162a7;
  }
  .character-list .character {
    font-size: 100%;
    width: 35%;
  }
  .votes-total {
    width: 54%;
  }
}
